@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #ffffff;
  color: #111113;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #111113;
  color: #ffffff;
}
